{% extends 'base.html' %}
{% block content %}
<h2>Enter Patient's <Details></Details></h2>
<form action="{{ url_for('predict') }}" method="POST" class="prediction-form">
    <input type="number" name="age" placeholder="Age" required>
    <select name="sex">
        <option value="1">Male</option>
        <option value="0">Female</option>
    </select>
    <select name="cp">
        <option value="0">Typical Angina</option>
        <option value="1">Atypical Angina</option>
        <option value="2">Non-anginal Pain</option>
        <option value="3">Asymptomatic</option>
    </select>
    <input type="number" name="trestbps" placeholder="Resting BP" required>
    <input type="number" name="chol" placeholder="Cholesterol" required>
    <select name="fbs">
        <option value="1">FBS > 120 mg/dl</option>
        <option value="0">FBS ≤ 120 mg/dl</option>
    </select>
    <select name="restecg">
        <option value="0">Normal</option>
        <option value="1">ST-T Abnormality</option>
        <option value="2">LV Hypertrophy</option>
    </select>
    <input type="number" name="thalach" placeholder="Max Heart Rate" required>
    <select name="exang">
        <option value="1">Yes (Exercise Induced Angina)</option>
        <option value="0">No</option>
    </select>
    <input type="number" step="0.1" name="oldpeak" placeholder="Oldpeak" required>
    <select name="slope">
        <option value="0">Upsloping</option>
        <option value="1">Flat</option>
        <option value="2">Downsloping</option>
    </select>
    <button type="submit" class="btn">Predict</button>
</form>
{% endblock %}
